{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jest",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": ["error", {
      "allow": ["_headers"]
    }]
  }
}
